@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:wght@300;400&display=swap');

/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 600;}
header, main, footer, section, article, aside, nav {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle; max-width: 100%;}
li {list-style: none;}

//메인
.wrap { position: relative; font-family: 'Noto Sans KR', sans-serif; letter-spacing: -1px;

  /* ==============================================================
  해더
==============================================================*/
  header { position: fixed; left: 0; top: 0; width: 100%; z-index: 9999; border-bottom: 1px solid  rgba(255,255,255,0.1);
    .innerHeader { width: 1200px; background: none; margin: 0 auto; padding: 0 40px; box-sizing: border-box; height: 80px; overflow: hidden;
      transition: all 0.5s;
      .logo { float: left; line-height: 80px;}
      .gnb { float: left; margin-left: 200px;
         > li { float: left; width: 150px; position: relative;
           > a { text-align: center; display: block; font-size: 17px; color: #fff; text-transform: uppercase;
              letter-spacing: 1px; line-height: 80px;}
            .inner { position: absolute; width: 100%; left: 0; top: 90px; display: none;
                li a { display: block; width: 100%; height: 100%; text-align: center; font-size: 14px; line-height: 3; color: #999;}
                li a:hover, li a:focus { color: #fff; transition: all 0.3s; }
             }
            .inner.on { display: block; }
          }
        }
      .franchise { float: right; font-size: 15px; color: #507219; background: #fff; width: 130px; height: 44px;
        border-radius: 30px; text-align: center; line-height: 44px; margin-top: 20px; }
      }
    .innerHeader.on { height: 300px; background: #000; transition: all 0.5s; }
    //ul.inner { }
  }

.fullPageWrap { position: relative;
  //공통
  .section { background-size: cover; position: relative;}
  /* ==============================================================
   이미지 슬라이드 영역
  ==============================================================*/
  #section1 { background: #bbb;}
  #section2 { background: url("../images/main_visual_02.jpg") no-repeat 50%; }
  #section3 { background: url("../images/main_visual_03.jpg") no-repeat 50%; }
  #section4 { background: url("../images/main_visual_04.jpg") no-repeat 50%; }
  #section5 { background: url("../images/main_visual_05.jpg") no-repeat 50%; }
  #section6 { background: url("../images/main_visual_06.jpg") no-repeat 50%; }
  #section7 { background: url("../images/main_visual_07.jpg") no-repeat 50%; }

  /* ==============================================================
  풀페이지 네비게이션 모션영역
  ==============================================================*/
  .rightNav { position: fixed; top: 40%; right: 40px; width: 100px;
    li { height: 30px; line-height: 30px;
      a { display: block; width: 100%; height: 100%; color: #96cc29; font-size: 15px;
       text-align: left; position: relative;
      &:after { content: ""; display: block; position: absolute; top: 50%; right: 0;
      width: 8px; height: 8px; border-radius: 4px; background: rgba(225,225,225,0.5); }
      }
      a span { display: block; text-align: right; position: absolute; top: 0; right: 50px;
        opacity: 0; transition: all 0.25s ease; }
    }
    li.active {
      a:after { right: -2px; width: 12px; height: 12px; border: 2px solid #96cc29; border-radius: 12px; background: rgba(225,225,225,0);
      box-sizing: border-box; margin-top: -6px; }
      a span { opacity: 1; right: 30px; transition: all 0.25s ease-in-out;}
     }
   }
  /* ==============================================================
   푸터
  ==============================================================*/
  .footer { background: #bbb; height: 400px;}

  // section1
  .visual { width: 100%; height: 100vh;
   .list { width: 100%; height: 100%; position: relative; background-repeat: no-repeat; background-size: cover;
   background-position: center;
      .textBox { position: absolute; top: 32%; left: 0; width: 100%; text-align: center;
        &:after { content: ""; display: block; position: absolute; top: -80px; left: 50%; margin-left: -1px;
        width: 1px; height: 60px; background: #84a315;}

        .tit { color: #ffffff; font-size: 80px; line-height: 90px; letter-spacing: -1px; transform: translate(0,30px);
          transition: all 0.45s ease; opacity: 0;
          span { display: block; margin-bottom: 20px; color: white; font-size: 40px; font-weight: 300; line-height: 44px;}
         }
        .txt { margin-top: 25px; color: white; font-size: 20px; transform: translate(0,-10px); transition: all 0.45s ease; opacity: 0; }
        .dot { opacity: 0; }
      }
   }
    // dot
    .slick-dots { position: absolute; bottom: 10%; left:50%; margin-left: -350px; width: 700px; text-align: center;
    z-index: 1000;
      li { display: block; float: left; position: relative; width: 145px; height: 100px; margin: 0 15px;
        cursor: pointer;
        &:after { content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 6px;
         background: rgba(255,255,255,0.5); }
        &:before { content: ""; display: block; position: absolute; top: 0; left: 0; width: 0; height: 6px;
          background: rgba(255,255,255,1); }
        .pager-tit { margin-top: 25px; color: white; font-size: 15px; text-align: left; letter-spacing: -1px;}
        }
      // dot active
      .slick-active { opacity: 1; }
      .slick-active:after { border: 1px solid rgba(214,214,214,1); background-color: rgba(255,255,255,0);
        box-sizing: border-box; opacity: 1; }
      .slick-active:before { width: 100%; border: 1px solid white; background-color: white; box-sizing: border-box;
       opacity: 1; transition: width 3s ease; }
      }
    // 슬라이드 active
    .list.slick-active .textBox {
      .tit { opacity: 1; transform: translate(0,0); transition: all 0.45s ease-in-out; }
      .txt { opacity: 0.7; transform: translate(0,0); transition: all 0.45s ease-in-out; }
    }
  }

  // section2
  #section2 { position: relative; height: 100%;
    .inner { width: 900px;  position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
      .label { width: 140px; padding: 10px 0; color: white; font-size: 17px; background: black; text-align: center;
        opacity: 0; transform: translate(30px,0px); transition: all 1.2s ease;}
      .tit { float: left;  margin-top: 35px; color: white; font-size: 40px; line-height: 1.2; letter-spacing: -1px;
        opacity: 0; transform: translate(30px,0px); transition: all 1.2s ease; }
      .countBox { float: right; margin-top: 25px; width: 400px;
       .count { color: white; font-size: 75px; font-family: 'roboto', sans-serif; letter-spacing: 3px; }
        .txt { margin-bottom: 10px; color: white; font-size: 20px; opacity: 0.45;}
      }
    }
  }
  // section2  motion
  #section2.active {
      .inner .label { opacity: 1; transform: translate(0,0); transition: all 1.2s ease-in-out; }
      .inner .tit { opacity: 1; transform: translate(0,0); transition: all 1.2s ease-in-out; }
  }
  }
}

// section2
#section3 { position: relative; height: 100%;
 .inner { width: 100%;
   .topBox { position: absolute; top: 23%; left: 50%; transform: translate(-50%,-100px); width: 900px; text-align: center;
     opacity: 0;  transition: all 0.2s ease;
     .tit { color: white; font-size: 65px; line-height: 1.4; font-weight: 300;
       span { display: block; font-weight: 500; }
     }
     .btn { display: block; background: white; width: 200px; margin: 25px auto; height: 55px; line-height: 55px;
       color: #333; font-size: 17px; font-weight: 500; text-align: center; }
     .txt { font-size: 14px; color: white; opacity: 0.5;}
   }
   .bottomBox { position: absolute; bottom: 0; left: 0; width: 100%; text-align: center; background: rgba(0,0,0,0.3);
     transform: translate(0,100px); transition: all 0.2s ease; opacity: 0;
    ul { width: 900px; margin: 0 auto; display: flex; justify-content: space-between; padding: 90px 0;
      li { text-align: center; border-left:  1px solid rgba(255,255,255,0.2); box-sizing: border-box; width: 33.333%;
        .img { margin-bottom: 20px; }
        .date { color: white; font-weight: bold;
          span { font-size: 80px; font-family: 'roboto', sans-serif; }
          strong { font-size: 35px; }
        }
        .txt { color: white; font-size: 16px; opacity: 0.7;
           span { display: block; font-size: 13px;}
        }
       }
      li:first-child { border-left: none; }
    }
   }
 }
}
// section3  motion
#section3.active {
  .inner .topBox { transform: translate(-50%,-100px); opacity: 1; transition-delay: 0.2s; transition: all 1.2s  ease-in-out; }
  .inner .bottomBox { transform: translate(0,0px);  opacity: 1; transition-delay: 0.4s; transition: all 1.4s  ease-in-out; }
}
// section4
#section4 { position: relative; height: 100%;
  .inner { width: 900px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
    .topBox { text-align: center; margin-bottom: 50px; transform: translate(0,-100px); opacity: 0; transition: all 1.2s ease;
      .txt { margin-bottom: 10px; color: white; font-size: 40px; }
      .tit { color: white; font-size: 65px; line-height: 1.2; font-weight: 300;
      span { display: block; font-weight: 500; }
      }
    }
    .bottomBox { display: flex; justify-content: space-between; text-align: center;  opacity: 0; transition: all 5s ease;
     li { width: 50%; position: relative;
       span { display: block; }
       &.left { border-right: 1px solid rgba(255,255,255,0.2); box-sizing: border-box; transform: translate(0,-30px);  transition: all 1.2s ease;
         .img02 { position: absolute; top: 20px; left: 235px;}
        }
       &.right { margin-top: 40px;
        .img01 { transform: translate(300px,0); transition: all 1.2s ease; }
       }
       .txt { margin-top: 30px; color: white; font-size: 20px; transform: translate(0,100px); transition: all 1.2s ease; }
       .txt strong { display: block; color: #96cc29; font-size: 20px; }
      }
    }
  }
 }
// section4 motion
#section4.active {
  .inner .topBox { transform: translate(0,0); opacity: 1; transition: all 1.2s ease-in-out; transition-delay: 0.2s;}
  .inner .bottomBox { opacity: 1; transition: all 1.2s ease-in-out; }
  .inner .bottomBox li.left { transform: translate(0,0); transition: all 1.2s ease-in-out; transition-delay: 0.2s;}
  .inner .bottomBox li.left .img02 { animation-name: gitBox; animation-duration: 2.2s;  transition-delay: 1.5s; transition: all 1.2s ease-in-out; }
  .inner .bottomBox li.right .img01 { transform: translate(0,0); transition: all 1.2s ease-in-out; }
  .inner .bottomBox li .txt { transform: translate(0,0); transition: all 1.2s ease-in-out;}

}
@keyframes gitBox {
  0% { transform: scale(0.3); }
  15% { transform: scale(1); }
  30% { transform: scale(0.3); }
  45% { transform: scale(1); }
  60% { transform: scale(0.3); }
  75% { transform: scale(1.05); }
  90% { transform: scale(0.5); }
  100% { transform: scale(1); }
}